*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
}
.form-dados{
    max-width: 800px;
    padding: 20px;
    margin: 0 auto;
    font-size: 1.25em;
    align-items: center;
}

.form-info{

    margin: 20px;

}

input{
    width: 400px;
}
.dado-label{
    width: 130px;
}

textarea{
    width: 400px;
}

input{
    border-radius: 30px;
    height: 30px;
}
button{
    height: 40px;
    width: 100px;
    border-radius: 20px;
    background-color: blue;
    color: aliceblue;
    font-weight: 600;
}